<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright (c) 2021 - 9999, ARES
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~        http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ares.generator.persistence.dao.IGeneratorDao">
    <select id="getTables" parameterType="java.util.Map" resultType="java.util.HashMap">
        SELECT
            `TABLE_NAME`,
            `TABLE_COMMENT`,
            `CREATE_TIME`,
            `UPDATE_TIME`
        FROM
            information_schema.`TABLES`
        WHERE
            `TABLE_SCHEMA` = (SELECT DATABASE())
        AND `TABLE_NAME` NOT LIKE 'qrtz_%'
        AND `TABLE_NAME` NOT LIKE 'act_%'
        <if test="tableName != null and tableName != ''">
            AND lower(`TABLE_NAME`) like lower(concat('%', #{tableName}, '%'))
        </if>
        <if test="tableComment != null and tableComment != ''">
            AND lower(`TABLE_COMMENT`) like lower(concat('%', #{tableComment}, '%'))
        </if>
        <if test="beginTime != null and beginTime != ''"><!-- 开始时间检索 -->
            AND date_format(`CREATE_TIME`,'%y%m%d') &gt;= date_format(#{beginTime},'%y%m%d')
        </if>
        <if test="endTime != null and endTime != ''"><!-- 结束时间检索 -->
            AND date_format(`CREATE_TIME`,'%y%m%d') &lt;= date_format(#{endTime},'%y%m%d')
        </if>
        ORDER BY `CREATE_TIME` DESC
    </select>

    <select id="getColumnsByTable" resultType="java.util.HashMap">
        SELECT
            `COLUMN_NAME`,`COLUMN_COMMENT`,`COLUMN_TYPE`,`TABLE_CATALOG`,`TABLE_SCHEMA`
        FROM
            information_schema.`COLUMNS`
        where TABLE_NAME = #{tableName}
        <if test="search != null">
            and (`COLUMN_NAME` like '%${search}%' or `COLUMN_COMMENT` like '%${search}%')
        </if>
        <if test="sort != null">
            order by ${sort}
        </if>
        <if test="sort == null">
            order by `COLUMN_NAME` asc
        </if>
    </select>

    <select id="selectTableColumnListByTableName"  resultType="java.util.HashMap">
        select `COLUMN_NAME`,`COLUMN_COMMENT`,`COLUMN_TYPE`,`TABLE_CATALOG`,`TABLE_SCHEMA`
        from information_schema.`COLUMNS`
        where `TABLE_NAME` = #{tableName}
    </select>
</mapper>